aiofiles
browser-cookie3
fake-useragent
fastapi
ffmpeg-python
flask-cors
flask
httpx
loguru
lxml
gunicorn
orjson
playwright
pydantic
pysocks
python-dotenv
schedule
selenium
undetected-chromedriver
uvicorn[standard]
websockets
yt-dlp
rich
tqdm
opencv-python
python-multipart
